
  <div class='signup'>
    <form action='/' method='post'>
      <input type="number" name='players' placeholder='How many players?'>
      <input type="submit" value="Enter names">
    </form>
  </div>